.search-form {
  width: 100vw;
  height: 100vh;
  background: url('../../asset/leagueHomeWallpaper.jpg') no-repeat center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form > form {
  position: relative;
  width: 624px;
  height: 50px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: #fff;
}

.search-form > form > input {
  width: 100%;
  padding: 15px 150px 18px 17px;
  background: none;
  border: none;
  line-height: 17px;
  font-size: 14px;
  color: #9b9b9b;
  box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.search-form > form > button {
  background-color: #2e71d7;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
  height: 30px;
  padding: 0;
  border: none;
  width: 12%;
  color: #ffffff;
}
